.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

.DS_Store
Thumbs.db
.idea/
.vscode/

.env
*.env

src/instance/*
!src/instance/.gitkeep
*.db
*.sqlite
*.sqlite3
*.sqlite-journal
*.db-journal
*.log

node_modules/
